@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Libre+Caslon+Text&family=Playfair+Display:wght@500&display=swap');

body {
  font-family: 'Cormorant Garamond', serif;
  font-size: x-large;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
}

a {
  color: crimson;
  text-decoration: none;
  font-weight: 900;
}