@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Libre+Caslon+Text&family=Playfair+Display:wght@500&display=swap');

body {
  font-family: 'Cormorant Garamond', serif;
  font-size: x-large;
  background-color: #3B3F45;
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  font-weight: 900;
  color: white;
  border-bottom: 1px dotted white;
}