@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Libre+Caslon+Text&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

body {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: x-large;
  background-color: rgb(250, 250, 224);
}

a {
  text-decoration: none;
  border-bottom: 1px dashed rgb(172, 172, 172);
  color: black;
}

blockquote {
  border-left: 5px solid brown;
  padding-left: 20px;
  margin: 0px;
}

code {
  word-wrap: break-word;
}